.App { 
  display: flex; 
  flex-direction: column; 
} 
 
.App-header { 
  top: 0; 
  background-color: #ffffff; 
  min-height: 50px; 
  margin-right: 20px; 
  margin-left: 20px; 
  font-size: 18px; 
  color: black; 
} 
 
.App-header-logo { 
  font-size: 25px; 
  text-decoration: none;
} 
 
.App-header-section { 
  color: black; 
  text-decoration: none; 
  position: relative;
} 
 
.App-header-sections { 
  align-items: center; 
  margin-right: 1em; 
  margin-left: 20px; 
}

.p_br{
  display: relative;
}

.p_br::after{
  content: '';
  height: 2px;
  width: 0;
  display: block;
  margin-top: 5px;
  background-color: black;
  position: absolute;
  transition: 500ms;
}

.p_br:hover::after{
  width: 100%;
}

footer {
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
}

.wrap-text {
  white-space: pre-wrap;
}
